## 2.1 데이터 입력

### 2.1.1

In [1]:
# 현재 디렉토리
getwd()

[1] "/Users/haesun/github/knou_stat/r_computing"

In [2]:
# 디렉토리 지정
setwd('../')
getwd()

[1] "/Users/haesun/github/knou_stat"

In [3]:
setwd('r_computing')
getwd()

[1] "/Users/haesun/github/knou_stat/r_computing"

### 2.1.2

In [4]:
# 벡터 생성
x = c(1,2,3,4,5)
print(x)

[1] 1 2 3 4 5

In [5]:
# 입력 결과 바로 출력
print(y <- c(10,20,30,40,50))

[1] 10 20 30 40 50

In [6]:
# 열 병합
dat = cbind(x, y)
dat

     x y
[1,] 1 10
[2,] 2 20
[3,] 3 30
[4,] 4 40
[5,] 5 50

### 2.1.3

In [7]:
# scan
w1 <- scan()

### 2.1.4

In [8]:
# edit 
# dat3 = data.frame()
# data3 = edit(dat3)

## 2.2 데이터 저장

### 2.2.1

In [9]:
# 화면 출력 결과 저장
sink('printa.txt')
summary(iris)
sink()

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [10]:
# 주피터 노트북에서는 파일에 출력 내용이 저장되지 않음
list.files()

[1] "2장.ipynb"      "dat3_exam1.txt" "printa.txt"     "USArrestd.csv"

In [11]:
library("readr")

read_file('printa.txt')

[1] ""

### 2.2.2

In [12]:
write.csv(dat, 'dat_exam1.csv')
list.files()

[1] "2장.ipynb"      "dat_exam1.csv"  "dat3_exam1.txt" "printa.txt"
[5] "USArrestd.csv"

In [13]:
read_file("dat_exam1.csv")

[1] "\"\",\"x\",\"y\"\n\"1\",1,10\n\"2\",2,20\n\"3\",3,30\n\"4\",4,40\n\"5\",5,50\n"

In [14]:
write.csv(dat, 'dat_exam1.csv', quote=FALSE)
read_file("dat_exam1.csv")

[1] ",x,y\n1,1,10\n2,2,20\n3,3,30\n4,4,40\n5,5,50\n"

### 2.2.3

In [15]:
# 공백으로 구분하여 저장
write.table(dat, 'dat_exam2.txt')
read_file("dat_exam2.txt")

[1] "\"x\" \"y\"\n\"1\" 1 10\n\"2\" 2 20\n\"3\" 3 30\n\"4\" 4 40\n\"5\" 5 50\n"

In [16]:
write.table(dat, 'dat_exam2.txt', quote=FALSE)
read_file("dat_exam2.txt")

[1] "x y\n1 1 10\n2 2 20\n3 3 30\n4 4 40\n5 5 50\n"

In [17]:
# 콤마로 구분하여 저장
write.table(dat, 'dat_exam2.txt', sep=',')
read_file("dat_exam2.txt")

[1] "\"x\",\"y\"\n\"1\",1,10\n\"2\",2,20\n\"3\",3,30\n\"4\",4,40\n\"5\",5,50\n"

In [18]:
write.table(dat, 'dat_exam2.txt')

## 2.3 데이터 불러오기

### 2.3.1

In [19]:
dat2 = read.csv('dat_exam1.csv')
dat2

  X x y
1 1 1 10
2 2 2 20
3 3 3 30
4 4 4 40
5 5 5 50

In [20]:
# factor 처리 방식
default.stringsAsFactors()

[1] FALSE

In [21]:
us_dat = read.csv('USArrestd.csv', header=T, stringsAsFactors=T)
head(us_dat)

  State      Murder Assault UrbanPop Rape
1 Alabama    13.2   236     58       21.2
2 Alaska     10.0   263     48       44.5
3 Arizona     8.1   294     80       31.0
4 Arkansas    8.8   190     50       19.5
5 California  9.0   276     91       40.6
6 Colorado    7.9   204     78       38.7

### 2.3.2

In [22]:
# 문자를 팩터로 인식
str(us_dat)

'data.frame':	50 obs. of  5 variables:
 $ State   : Factor w/ 50 levels "Alabama","Alaska",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ Murder  : num  13.2 10 8.1 8.8 9 7.9 3.3 5.9 15.4 17.4 ...
 $ Assault : int  236 263 294 190 276 204 110 238 335 211 ...
 $ UrbanPop: int  58 48 80 50 91 78 77 72 80 60 ...
 $ Rape    : num  21.2 44.5 31 19.5 40.6 38.7 11.1 15.8 31.9 25.8 ...

In [23]:
# 문자를 팩터로 인식하지 않음
us_dat = read.csv('USArrestd.csv', header=T)
str(us_dat)

'data.frame':	50 obs. of  5 variables:
 $ State   : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ Murder  : num  13.2 10 8.1 8.8 9 7.9 3.3 5.9 15.4 17.4 ...
 $ Assault : int  236 263 294 190 276 204 110 238 335 211 ...
 $ UrbanPop: int  58 48 80 50 91 78 77 72 80 60 ...
 $ Rape    : num  21.2 44.5 31 19.5 40.6 38.7 11.1 15.8 31.9 25.8 ...

### 2.3.3

In [24]:
read.table('dat_exam2.txt', header=T)

  x y
1 1 10
2 2 20
3 3 30
4 4 40
5 5 50

In [25]:
read.table('dat_exam2.txt')

  x y
1 1 10
2 2 20
3 3 30
4 4 40
5 5 50

### 2.3.4

In [26]:
read_file('dat3_exam1.txt')

[1] "\"x\" \"y\"\n\"1\" 1 aa\n\"2\" 2 20\n\"3\" 3 30\n\"4\" 4 40\n\"5\" 5 50\n"

In [27]:
nadat = read.table('dat3_exam1.txt', na.strings='aa', header=T)
nadat

  x y
1 1 NA
2 2 20
3 3 30
4 4 40
5 5 50

## 2.4 객체 확인 및 삭제

In [28]:
ls()

[1] "dat"    "dat2"   "nadat"  "us_dat" "w1"     "x"      "y"

In [29]:
rm(list=ls())

In [30]:
ls()

character(0)