## 3.2 벡터

### 3.2.1

In [1]:
c(3,4,5,6,7)

[1] 3 4 5 6 7

In [2]:
c(3:7)

[1] 3 4 5 6 7

In [3]:
3:7

[1] 3 4 5 6 7

In [4]:
v1 = c('1', 'KOREA', 'NATIONAL', 'OPEN', 'UNIVERSITY')
v1

[1] "1"          "KOREA"      "NATIONAL"   "OPEN"       "UNIVERSITY"

In [5]:
length(v1)

[1] 5

In [6]:
c(F,F,T)

[1] FALSE FALSE  TRUE

In [7]:
c(FALSE,TRUE)

[1] FALSE  TRUE

In [8]:
# 주피터에서는 scan() 사용할 수 없음
scan()

numeric(0)

In [9]:
# 구분자 지정
scan(sep=',')

numeric(0)

In [10]:
# 시작, 종료, 증가값
seq(from=3, to=7, by=1)

[1] 3 4 5 6 7

In [11]:
seq(3, 7, 1)

[1] 3 4 5 6 7

In [12]:
seq(3, 7, length=3)

[1] 3 5 7

In [13]:
seq(1, by=0.05, along=1:5)

[1] 1.00 1.05 1.10 1.15 1.20

In [14]:
seq(1, 5, along=1:6)

[1] 1.0 1.8 2.6 3.4 4.2 5.0

In [15]:
rep(c(1,2), times=2)

[1] 1 2 1 2

In [16]:
rep(1:2, times=2)

[1] 1 2 1 2

In [17]:
rep(c(2,4), times=c(2,1))

[1] 2 2 4

In [18]:
rep(c(2,4), each=2)

[1] 2 2 4 4

In [19]:
rep(c(2,4,8), length=5)

[1] 2 4 8 2 4

### 3.2.2

In [20]:
v1 = c(11:20)
v1

 [1] 11 12 13 14 15 16 17 18 19 20

In [21]:
# 3번째, 5번째 원소 선택
v1[c(3,5)]

[1] 13 15

In [22]:
v1[v1>15]

[1] 16 17 18 19 20

In [23]:
# 2번째, 4번째를 제외
v1[c(-2,-4)]

[1] 11 13 15 16 17 18 19 20

In [24]:
v2 = 10:15
v2

[1] 10 11 12 13 14 15

In [25]:
# 2번째 원소를 6으로 교체
replace(v2, 2, 6)

[1] 10  6 12 13 14 15

In [26]:
# 4번째 원소 다음에 8을 추가
append(v2, 8, after=4)

[1] 10 11 12 13  8 14 15

In [27]:
x = c(rep(3,3), seq(3,7,by=2), rev(seq(3,7,length=3)), rep(4,3))
x

 [1] 3 3 3 3 5 7 7 5 3 4 4 4

In [28]:
sort(x)

 [1] 3 3 3 3 3 4 4 4 5 5 7 7

In [29]:
# 기본 랭크는 1이지만 중복 원소는 평균값을 사용
# 3은 1,2,3,4,5위 --> 평균 3
# 4는 6,7,8위 --> 평균 7
# 5는 9,10위 --> 평균 9.5
# 7은 11,12위 --> 평균 11.5
rank(x)

 [1]  3.0  3.0  3.0  3.0  9.5 11.5 11.5  9.5  3.0  7.0  7.0  7.0

In [30]:
# 오름차순 정렬했을 때 위치값
order(x)

 [1]  1  2  3  4  9 10 11 12  5  8  6  7

## 3.3 행렬

### 3.3.1

In [31]:
# 열을 따라 값이 먼저 채워진다. 마치 cbind와 비슷하다
matr = matrix(1:9, nrow=3)
matr

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [32]:
length(matr)

[1] 9

In [33]:
mode(matr)

[1] "numeric"

In [34]:
dim(matr)

[1] 3 3

In [35]:
r1 = 1:3
r2 = 4:6
r3 = 7:9
rbind(r1,r2,r3)

   [,1] [,2] [,3]
r1 1    2    3
r2 4    5    6
r3 7    8    9

In [36]:
cbind(r1,r2,r3)

     r1 r2 r3
[1,] 1  4  7
[2,] 2  5  8
[3,] 3  6  9

In [37]:
m1 = 1:9
dim(m1) = c(3,3)
m1

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

### 3.3.2

In [38]:
# byrow=F가 디폴트값
mat = matrix(1:9, ncol=3, byrow=T)
mat

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [39]:
mat[1,]

[1] 1 2 3

In [40]:
mat[,3]

[1] 3 6 9

In [41]:
# 3번째 열에서 4보다 큰 위치에 해당하는 두 번째 열의 원소
mat[mat[,3]>4, 2]

[1] 5 8

In [42]:
mat[2,3]

[1] 6

In [43]:
Height = c(140,155,142,175)

In [44]:
size.1 = matrix(c(130,26,110,24,118,25,112,25), ncol=2, byrow=T,
               dimnames=list(c("Lee","Kim","Park","Choi"),c("Weight","Waist")))
size.1

     Weight Waist
Lee  130    26
Kim  110    24
Park 118    25
Choi 112    25

In [45]:
size = cbind(size.1, Height)
size

     Weight Waist Height
Lee  130    26    140
Kim  110    24    155
Park 118    25    142
Choi 112    25    175

In [46]:
# 열 평균
colmean = apply(size, 2, mean)
colmean

Weight  Waist Height
 117.5   25.0  153.0

In [47]:
# 행 평균
rowmean = apply(size, 1, mean)
rowmean

      Lee       Kim      Park      Choi
 98.66667  96.33333  95.00000 104.00000

In [48]:
colvar = apply(size, 2, var)
colvar

     Weight       Waist      Height
 81.0000000   0.6666667 259.3333333

In [49]:
# 각 열에 대해 colmean을 뺌
sweep(size, 2, colmean)

     Weight Waist Height
Lee  12.5    1    -13
Kim  -7.5   -1      2
Park  0.5    0    -11
Choi -5.5    0     22

In [50]:
sweep(size, 1, rowmean)

     Weight   Waist     Height
Lee  31.33333 -72.66667 41.33333
Kim  13.66667 -72.33333 58.66667
Park 23.00000 -70.00000 47.00000
Choi  8.00000 -79.00000 71.00000

In [51]:
# 각 열에 대해 colmean을 더함
sweep(size, 2, colmean, '+')

     Weight Waist Height
Lee  247.5  51    293
Kim  227.5  49    308
Park 235.5  50    295
Choi 229.5  50    328

In [52]:
sweep(size, 1, rowmean, '+')

     Weight   Waist    Height
Lee  228.6667 124.6667 238.6667
Kim  206.3333 120.3333 251.3333
Park 213.0000 120.0000 237.0000
Choi 216.0000 129.0000 279.0000

In [53]:
m1 = matrix(1:4, nrow=2)
m1

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [54]:
m2 = matrix(5:8, nrow=2)
m2

     [,1] [,2]
[1,] 5    7
[2,] 6    8

In [55]:
# 행렬 곱셈
m1 %*% m2

     [,1] [,2]
[1,] 23   31
[2,] 34   46

In [56]:
# 역행렬
solve(m1)

     [,1] [,2]
[1,] -2    1.5
[2,]  1   -0.5

In [57]:
# 전치
t(m1)

     [,1] [,2]
[1,] 1    2
[2,] 3    4

## 3.4 배열

### 3.4.1

In [58]:
# 원소의 개수가 차원과 맞지 않아도 자동으로 truncate된다.
# 넘파이와 다르게 열 방향으로 먼저 채운다.
arr = array(1:24, c(3,3,2))
print(arr)

, , 1

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9

, , 2

     [,1] [,2] [,3]
[1,]   10   13   16
[2,]   11   14   17
[3,]   12   15   18

In [59]:
dimnames(arr) = list(paste('row', 1:3), paste('col', 1:3), paste('ar', 1:2))
print(arr)

, , ar 1

      col 1 col 2 col 3
row 1     1     4     7
row 2     2     5     8
row 3     3     6     9

, , ar 2

      col 1 col 2 col 3
row 1    10    13    16
row 2    11    14    17
row 3    12    15    18

In [60]:
length(arr)

[1] 18

In [61]:
mode(arr)

[1] "numeric"

In [62]:
dim(arr)

[1] 3 3 2

In [63]:
dimnames(arr)

[[1]]
[1] "row 1" "row 2" "row 3"

[[2]]
[1] "col 1" "col 2" "col 3"

[[3]]
[1] "ar 1" "ar 2"

In [64]:
array(1:6)

[1] 1 2 3 4 5 6

In [65]:
array(1:6, c(2,3))

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [66]:
print(array(1:8, c(2,2,2)))

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    5    7
[2,]    6    8

In [67]:
arr = 1:24
dim(arr) = c(3,4,2)
print(arr)

, , 1

     [,1] [,2] [,3] [,4]
[1,]    1    4    7   10
[2,]    2    5    8   11
[3,]    3    6    9   12

, , 2

     [,1] [,2] [,3] [,4]
[1,]   13   16   19   22
[2,]   14   17   20   23
[3,]   15   18   21   24

### 3.4.2

In [68]:
ary1 = array(1:8, dim=c(2,2,2))
ary2 = array(8:1, dim=c(2,2,2))

In [69]:
print(ary1)

, , 1

     [,1] [,2]
[1,]    1    3
[2,]    2    4

, , 2

     [,1] [,2]
[1,]    5    7
[2,]    6    8

In [70]:
print(ary2)

, , 1

     [,1] [,2]
[1,]    8    6
[2,]    7    5

, , 2

     [,1] [,2]
[1,]    4    2
[2,]    3    1

In [71]:
print(ary1 + ary2)

, , 1

     [,1] [,2]
[1,]    9    9
[2,]    9    9

, , 2

     [,1] [,2]
[1,]    9    9
[2,]    9    9

In [72]:
print(ary1 * ary2)

, , 1

     [,1] [,2]
[1,]    8   18
[2,]   14   20

, , 2

     [,1] [,2]
[1,]   20   14
[2,]   18    8

In [73]:
# 3차원 이상의 배열에서는 원소별 곱의 합을 계산함
print(ary1 %*% ary2)

     [,1]
[1,]  120

In [74]:
# 배열의 인덱스는 1부터 시작
ary1[,,1]

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [75]:
ary1[1,1,]

[1] 1 5

In [76]:
# ary1[1,,1]과 동일. -2는 두 번째 행렬을 뺀다는 의미
ary1[1,,-2]

[1] 1 3

## 3.5 리스트

### 3.5.1

In [77]:
a = 1:10
b = 11:15

In [78]:
klist = list(a, b, 'example')
klist

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[[2]]
[1] 11 12 13 14 15

[[3]]
[1] "example"

In [79]:
names(klist)

NULL

In [80]:
klist = list(vec1=a, vec2=b, descrip='example')
klist

$vec1
 [1]  1  2  3  4  5  6  7  8  9 10

$vec2
[1] 11 12 13 14 15

$descrip
[1] "example"

In [81]:
length(klist)

[1] 3

In [82]:
mode(klist)

[1] "list"

In [83]:
names(klist)

[1] "vec1"    "vec2"    "descrip"

In [84]:
klist$vec1

 [1]  1  2  3  4  5  6  7  8  9 10

In [85]:
klist[[1]]

 [1]  1  2  3  4  5  6  7  8  9 10

In [86]:
klist[[1]][3]

[1] 3

In [87]:
klist$vec1[3]

[1] 3

In [88]:
list1 = list('A', 1:8)
list1

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 5 6 7 8

In [89]:
list1[[3]] = list(c(T,F))
list1

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 5 6 7 8

[[3]]
[[3]][[1]]
[1]  TRUE FALSE

In [90]:
list1[[2]][9] = 9
list1

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 5 6 7 8 9

[[3]]
[[3]][[1]]
[1]  TRUE FALSE

In [91]:
list1[3] = NULL
list1

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 5 6 7 8 9

In [92]:
list1[[2]] = list1[[2]][-9]
list1

[[1]]
[1] "A"

[[2]]
[1] 1 2 3 4 5 6 7 8

In [93]:
klist[[2]][5]

[1] 15

In [94]:
klist$vec2[c(2,3)]

[1] 12 13

## 3.6 데이터 프레임

### 3.6.1

In [95]:
d2 = read.table('story.txt', row.names='num', header=T)
d2

  name age sex
1 Lee  55  M
2 Park 47  F
3 So   35  M
4 Kim  26  F
5 Yoon 29  M

In [96]:
char1 = rep(LETTERS[1:3], c(2,2,1))
char1

[1] "A" "A" "B" "B" "C"

In [97]:
num1 = rep(1:3, c(2,2,1))
num1

[1] 1 1 2 2 3

In [98]:
# 객체 이름이 열(변수) 이름이 된다
test1 = data.frame(char1, num1)
test1

  char1 num1
1 A     1
2 A     1
3 B     2
4 B     2
5 C     3

In [99]:
a1 = c('a','b','c','d','e','f','g','h','i','j','k','l','m','n','o')
dim(a1) = c(5,3)
a1

     [,1] [,2] [,3]
[1,] a    f    k
[2,] b    g    l
[3,] c    h    m
[4,] d    i    n
[5,] e    j    o

In [100]:
# 행렬을 데이터 프레임으로 변환함
test3 = as.data.frame(a1)
test3

  V1 V2 V3
1 a  f  k
2 b  g  l
3 c  h  m
4 d  i  n
5 e  j  o

### 3.6.2

In [101]:
cbind(test1, test3)

  char1 num1 V1 V2 V3
1 A     1    a  f  k
2 A     1    b  g  l
3 B     2    c  h  m
4 B     2    d  i  n
5 C     3    e  j  o

In [102]:
char1 = rep(LETTERS[1:3], c(1,2,2))
char1

[1] "A" "B" "B" "C" "C"

In [103]:
num1 = rep(1:3, c(1,1,3))
num1

[1] 1 2 3 3 3

In [104]:
test4 = data.frame(char1, num1)
test4

  char1 num1
1 A     1
2 B     2
3 B     3
4 C     3
5 C     3

In [105]:
# 변수명이 같아야 rbind할 수 있다.
rbind(test1, test4)

   char1 num1
1  A     1
2  A     1
3  B     2
4  B     2
5  C     3
6  A     1
7  B     2
8  B     3
9  C     3
10 C     3

In [106]:
# 합집합과 유사한 계산
merge(test1, test4)

  char1 num1
1 A     1
2 A     1
3 B     2
4 B     2
5 C     3
6 C     3