## 4.2 연산자

### 4.2.1

In [1]:
v1 = c(1,2)
v2 = c(3,4)
v1+v2

[1] 4 6

In [2]:
a = matrix(c(1,2,3,4), ncol=2)
b = matrix(c(5,6,7,8), ncol=2)
a+b

     [,1] [,2]
[1,] 6    10
[2,] 8    12

In [3]:
a-b

     [,1] [,2]
[1,] -4   -4
[2,] -4   -4

In [4]:
a*b

     [,1] [,2]
[1,]  5   21
[2,] 12   32

In [5]:
a/b

     [,1]      [,2]
[1,] 0.2000000 0.4285714
[2,] 0.3333333 0.5000000

In [6]:
a^b

     [,1] [,2]
[1,]  1    2187
[2,] 64   65536

In [7]:
b%/%a

     [,1] [,2]
[1,] 5    2
[2,] 3    2

In [8]:
a%*%b

     [,1] [,2]
[1,] 23   31
[2,] 34   46

### 4.2.2

In [9]:
2==2

[1] TRUE

In [10]:
2!=2

[1] FALSE

In [11]:
1<=2

[1] TRUE

In [12]:
1<2

[1] TRUE

In [13]:
2==2 && 3>4

[1] FALSE

In [14]:
2==2 & c(2==2,3>4)

[1]  TRUE FALSE

In [15]:
2==2 || 3>4

[1] TRUE

In [16]:
2==2 | c(2==2,3>4)

[1] TRUE TRUE

### 4.2.3

In [17]:
x = c(1,2,5)
y = c(5,1,7,8)

In [18]:
union(x, y)

[1] 1 2 5 7 8

In [19]:
intersect(x, y)

[1] 1 5

In [20]:
setdiff(x, y)

[1] 2

In [21]:
setdiff(y, x)

[1] 7 8

In [22]:
setequal(x, y)

[1] FALSE

In [23]:
5 %in% x

[1] TRUE

In [24]:
10 %in% y

[1] FALSE

In [25]:
choose(5, 2)

[1] 10

## 4.3 기본적인 R 함수

### 4.3.1

In [26]:
pi

[1] 3.141593

In [27]:
sin(10)

[1] -0.5440211

In [28]:
asin(1)

[1] 1.570796

In [29]:
log(2)

[1] 0.6931472

In [30]:
log10(2)

[1] 0.30103

In [31]:
exp(10)

[1] 22026.47

In [32]:
sqrt(10)

[1] 3.162278

In [33]:
x = c(1,2,-3,4)

In [34]:
min(x)

[1] -3

In [35]:
max(x)

[1] 4

In [36]:
x2 = c(2,4,-6,7)
min(x, x2)

[1] -6

In [37]:
# pairwise minimum
pmin(x, x2)

[1]  1  2 -6  4

In [38]:
# pairwise maximum
pmax(x, x2)

[1]  2  4 -3  7

In [39]:
range(x)

[1] -3  4

### 4.3.2

In [40]:
x = c(1:6)

In [41]:
mean(x)

[1] 3.5

In [42]:
sd(x)

[1] 1.870829

In [43]:
var(x)

[1] 3.5

In [44]:
median(x)

[1] 3.5

In [45]:
quantile(x)

  0%  25%  50%  75% 100%
1.00 2.25 3.50 4.75 6.00

In [46]:
x = c(1:10)
y = c(10,9,8,7,6,5,4,3,2,5)
cor(x, y)

[1] -0.9099638

## 4.4 프로그래밍의 기본 구조

### 4.4.1

In [47]:
x = c(1,2,3,4)
y = c(2,1,4,5)
if (sum(x) < sum(y)) print(x)

[1] 1 2 3 4

In [48]:
if (sum(x) < sum(y)) {
    print(mean(x))
    print(var(x))
}

[1] 2.5
[1] 1.666667

In [49]:
if (sum(x) > sum(y)) {
    print(mean(x))
    print(var(x))
} else {
    print(mean(y))
    print(var(y))
}

[1] 3
[1] 3.333333

In [50]:
ifelse(x<y, x, y)

[1] 1 1 3 4

In [51]:
ifelse(sum(x-y)>0, '양수', ifelse(sum(x-y)<0, '음수', '제로'))

[1] "음수"

In [52]:
type = 'v1'
switch(type, v1=mean(x), v2=max(x), v3=sum(x))

[1] 2.5

In [53]:
switch(2, mean(x), max(x), sum(x))

[1] 4

### 4.4.2

In [54]:
for (i in 1:5) print(rep(i,i))

[1] 1
[1] 2 2
[1] 3 3 3
[1] 4 4 4 4
[1] 5 5 5 5 5

In [55]:
x = 0
for (i in 1:10) x = x + 1
x

[1] 10

In [56]:
i = 1
while (i<=5) {
    print(rep(i,i))
    i = i+1
}

[1] 1
[1] 2 2
[1] 3 3 3
[1] 4 4 4 4
[1] 5 5 5 5 5

In [57]:
i = 1
repeat {
    if(i>5) break
    print(rep(i,i))
    i = i+1
}

[1] 1
[1] 2 2
[1] 3 3 3
[1] 4 4 4 4
[1] 5 5 5 5 5

### 4.3.3

In [58]:
i = 1
while (TRUE) {
    print(rep(i,i))
    if (i<5) {
        i = i+1
        next
    } else {
        break
    }
}

[1] 1
[1] 2 2
[1] 3 3 3
[1] 4 4 4 4
[1] 5 5 5 5 5